@charset "utf-8";
/* CSS Document */
/* ===== Global styles ===== */
@import "globalStyle.css";

/* ===== mainContent ===== */
#principal #mainContent {
    float: left;
    width: 100%;
    height: 100%;        
}

